@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Fraunces:wght@300;500&display=swap');

html {
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    overflow-x:hidden;
    max-width:100vw;
    background-color:#0A0908
}


body {
    overflow-x:hidden;
    max-width:100vw;
    margin:0;
    padding:0;
    height:100%
    -moz-animation:fadein 4s;
    -webkit-animation:fadein 4s;
    -o-animation:fadein 4s;
    -o-animation:fadein 4s;
}

@-webkit-keyframes fadein {
  0%,25% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadein {
  0%,25% { opacity: 0; }
  100% { opacity: 1; }
}

.smol {
    font-size:16px;
    letter-spacing:.05em;
    line-height:1em;
    font-family:'DM Sans',sans-serif;
    font-weight:700;
    color:#C0AFA0;
}

.text {
    font-size:36px;
    letter-spacing:1px;
    line-height:1.6;
    background-color:#0A0908;
    text-align:left;
    margin:0;
    top:0;
    bottom:0;
    font-family:'DM Sans',sans-serif;
    font-weight:400;
    color:#EFEFEF;
    padding:5vh 5vw 10vh 5vw;
    width: 90vw
}

.lilboy {
    font-family:'DM Sans',sans-serif;
    font-weight:400;
    color:#EFEFEF;
    padding:5vh 40vw 5vh 5vw;
    width: 90vw
}


.textlink {
    font-family:'Fraunces', serif;
    font-weight: 300;
    letter-spacing:.1px;
    font-size: 38px;
    text-decoration:none;
    color:#C0AFA0;
    -webkit-transition:color .1s ease-in-out;
    -moz-transition:color .1s ease-in-out;
    -ms-transition:color .1s ease-in-out;
    -o-transition:color .1s ease-in-out;
    transition:color .1s ease-in-out
}

.topbuttons {
    font-size:16px;
    letter-spacing:.05em;
    font-family:'DM Sans',sans-serif;
    font-weight:400;
    color:#EFEFEF;
    text-decoration: none;
    padding-left: 5vw;
    -webkit-transition:color .1s ease-in-out;
    -moz-transition:color .1s ease-in-out;
    -ms-transition:color .1s ease-in-out;
    -o-transition:color .1s ease-in-out;
    transition:color .1s ease-in-out
}

.topbuttons:hover {
    cursor:pointer;
    color:#C0AFA0
}

.textlink:hover {
    cursor:pointer;
    color:#EFEFEF
}


/*  IMAGES  */


/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --black: #3a3a3a;
  --white: #fff;
  --green: #49b293;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 6px
}

ol {
  list-style: none;
}

.author-archive {
  padding-bottom: 20vh;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}

input[type="radio"] {
  position: absolute;
  left: -9999px;
}

.textlabel {
  font-family:'Fraunces', serif;
  font-weight: 300;
  letter-spacing:.1px;
  font-size: 36px;
  color: #EFEFEF;
  border: 0.5px solid #666;
  padding: 6px 12px 10px 12px;
  border-radius: 12px;
  -webkit-transition:color .1s ease-in-out;
    -moz-transition:color .1s ease-in-out;
    -ms-transition:color .1s ease-in-out;
    -o-transition:color .1s ease-in-out;
    transition:color .1s ease-in-out
}

.textlabel:hover {
  background-color:#666;
    cursor:pointer;
    color:#EFEFEF
}


/* FILTERED ELEMENTS (POSTS)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.posts {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

/* FILTERING RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[value="All"]:checked ~ .filters [for="All"],
[value="web"]:checked ~ .filters [for="web"],
[value="photography"]:checked ~ .filters [for="photography"],
[value="bonsai"]:checked ~ .filters [for="bonsai"],
[value="WordPress"]:checked ~ .filters [for="WordPress"],
[value="Slider"]:checked ~ .filters [for="Slider"],
[value="fullPage.js"]:checked ~ .filters [for="fullPage.js"] {
  background: var(--green);
  color: var(--white);
}

[value="All"]:checked ~ .posts [data-category] {
  display: block;
}

[value="web"]:checked ~ .posts .post:not([data-category~="web"]),
[value="photography"]:checked ~ .posts .post:not([data-category~="photography"]),
[value="bonsai"]:checked ~ .posts .post:not([data-category~="bonsai"]),
[value="WordPress"]:checked ~ .posts .post:not([data-category~="WordPress"]),
[value="Slider"]:checked ~ .posts .post:not([data-category~="Slider"]),
[value="fullPage.js"]:checked ~ .posts .post:not([data-category~="fullPage.js"]) {
  display: none;
}


/*  MOBILE  */


@media screen and (max-width: 720px) {

.posts {
    grid-template-columns: repeat(1, 1fr);
}
    
.text {
    font-size:18px;
    padding:0vh 5vw 5vh 5vw;
    width: 90vw
} 

.textlabel, .textlink {
     font-size: 16px;
    border-radius: 6px;
    }
    
.textlabel {
        padding: 4px 8px 6px 8px;
    }
    
.smol{
        font-size:12px;
    }
    
.topbuttons {
    font-size:12px;
    letter-spacing:.05em;
    font-family:'DM Sans',sans-serif;
    font-weight:400;
    color:#EFEFEF;
    text-decoration: none;
    padding-left: 5vw
}
      

}