@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    overflow-x: hidden;
    max-width: 100vw;
    background-color: #0A0908;
}

/* HOVERBOX */

.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: flex;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: flex;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 10, 14, 0.9);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: left;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
	font-size: 4vw;
/*    letter-spacing: 0.02em;*/
    line-height: 1em;
/*	display: inline;*/
	position: absolute;
	top: 10%;
	left: 10%;
/*
	-moz-transform: translate(0%, -10%);
	-webkit-transform: translate(0%, -10%);
	-ms-transform: translate(0%, -10%);
	transform: translate(0%, -10%);
*/
}
.hvrbox .hvrbox-text_mobile {
	font-size: 3vw;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: inline-block;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 0;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 50%;
}

.span_1_of_1 {
    width: 100%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 640px) {
	.col { 
		margin: 0;
	}
}

@media only screen and (max-width: 640px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}

#wrapper { 
    overflow-x: hidden;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

body {
    overflow-x: hidden;
    max-width: 100vw;
    margin:0;
    padding: 0;
    height: 100%;
}

body { 
  background: url(3.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}  
/*
    background: url("3.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
*/


/*
img {
    height: 130vh;
    width: auto;
    overflow: hidden;
}
*/

h1 {
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    color: #EFEFEF;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.4em;
    margin: auto; /* Important */
}

h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
}

table {
    background-color: #0A0908;
    width: 100vw;
    padding: 15vh 12.5vw;
/*    padding-right: 12.5vw*/
    text-align: left;
/*
    padding: 15vh 0;
    padding-top: 
*/
    margin: 0;
    top: 0;
    bottom: 0;
    font-family: 'spacegrotesk', sans-serif;
    color: #000000;
}

.project_overview {
    background-color: #0A0908;
    width: 100vw;
    padding-left: 12.5vw;
    padding-right: 12.5vw;
    text-align: left;
/*    padding-top: 10vh;*/
    margin: 0;
    top: 0;
    bottom: 0;
    font-family: 'spacegrotesk', sans-serif;
    color: #000000;
}

.years {
    font-size: 1.2vw;
    letter-spacing: 0.05em;
    line-height: 1em;
    text-align: right;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    color: #F7B267;
}

.occup {
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 1.6;
    background-color: #0A0908;
/*    width: 100vw;*/
    padding-left: 20vw;
    padding-right: 20vw;
    text-align: left;
    padding-top: 15vh;
    padding-bottom: 15vh;
    margin: 0;
    top: 0;
    bottom: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
    color: #EFEFEF;
/*    padding: 2%;*/
}

/*
.cv {
    text-align: center;
    width: 100vw;
}
*/

.cv_occup {
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 1.6;
    background-color: #0A0908;
/*    width: 100vw;*/
/*
    padding-left: 12.5vw;
    padding-right: 12.5vw;
*/
    text-align: left;
    padding-top: 5vh;
    padding-bottom: 5vh;
    top: 0;
    bottom: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
    color: #EFEFEF;
/*    padding: 2%;*/
}

.grid {
    background-color: #001A23;
    padding: 0;
    margin: 0;
}


.textlink {
    text-decoration: underline;
    color: #EFEFEF;
    -webkit-transition: color .1s ease-in-out;
        -moz-transition: color .1s ease-in-out;
        -ms-transition: color .1s ease-in-out;
        -o-transition: color .1s ease-in-out;
        transition: color .1s ease-in-out;
}

.link {
    text-decoration: none;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    color: #EFEFEF;
    font-size: 24px;
    letter-spacing: 0.05em;
    line-height: 1.25;
    margin: auto !important; /* Important */
}

.bottomlink {
    -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
}

.bottomlink:hover {
    cursor: pointer;
    text-decoration: underline;
    
}

.textlink:hover {
    cursor: pointer;
    color: #C0AFA0;
}

.corner {
    z-index: 1;
    background-color: #0A0908;
    position: fixed;
    margin: auto;
    padding-top: 20px;
    bottom: 0;
    left: 0;
    width: 25vw;
    height: 80px;
    justify-content: right;
    display: inline;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}

.corner_proj {
    z-index: 1;
    background-color: #0A0908;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    width: 25vw;
    height: 80px;
    text-align: center;
    display: flex;
}

.list {
    z-index: 1;
    position: fixed;
    padding-top: 20px;
    bottom: 0;
    left: 25vw;
    width: 75vw;
    height: 80px;
    text-align: left;
    /*display: flex;*/
    background-color: #0A0908;
}


.list_proj {
    z-index: 1;
    position: fixed;
    margin: auto;
    top: 0;
    left: 25vw;
    background-color: #0A0908;
    width: 25vw;
    height: 25vw;
    text-align: center;
    display: flex;
}

/*
.list:hover {
    opacity: 0;
}
*/

.project {
    font-family: 'spacegrotesk', sans-serif;
    font-weight: bold;
    padding: 5vw 12.5vw;
    background-color: #0A0908;
    text-align: left;
    display: flex;
    width: 75vw;
}

video, .projectimg {
    margin-top: 5vw;
    margin-bottom: 5vw;
    width: 100%;
    height: auto;
    position: relative;
    display: block;
}

/*
.gridimg {
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    -webkit-transition: opacity .2s ease-in-out;
        -moz-transition: opacity .2s ease-in-out;
        -ms-transition: opacity .2s ease-in-out;
        -o-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
}
*/

/*
.gridimg:hover {
    cursor: pointer;
    opacity: 0.5;
}
*/

.project_h1 {
    font-size: 80px;
    line-height: 1.125;
    color: #EFEFEF;
    text-align: left;
}

.project_h2 {
    font-size: 48px;
    line-height: 1.125;
    color: #EFEFEF;
    text-align: left;
}

.projecttext {
/*    margin-left: 25vw;*/
/*
    margin-top: 5vw;
    margin-bottom: 5vw;
*/
    width: 80vw;
/*    background-color: red;*/
    position: relative;
    font-family: 'spacegrotesk_light', sans-serif;
    font-weight: light;
    color: #EFEFEF;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 1.6;
    background-color: #0A0908;
/*    width: 100vw;*/
    text-align: left;
    padding-bottom: 10vh;
    margin: 0;
    top: 0;
    bottom: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
    color: #EFEFEF;
}

.invisible {
    opacity: 0;
}

.contact {
    margin: 0 !important;
    padding: 0;
    bottom: 0;
/*    left: 0;*/
    background-color: #0A0908;
    width: 100vw;
    height: 15vw;
    text-align: center;
    display: flex;
    float: left;
/*    opacity: 0;*/
}

.top {
    background-color: #0A0908;
    z-index: 0;
/*    height: 100vh;*/
    width: 100vw;
    margin: 0;
    top: 0;
    left: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
}

#topimage {
    width: 160px;
}


.project_bottom {
    position: absolute;
/*    top: 25vw;*/
    z-index: 2;
    left: 0;
    margin-bottom: 0;
    width: 100vw;
    margin: 0;
    text-align: center;
    background-color: #0A0908;
}

@media screen and (max-width: 640px){
    

    
/*
    .list {
        text-align: center;
    }
*/
    
/*
    .link {
        font-size: 40px;
        text-align: center;
    }
*/
    
    .corner {
        width: 50vw;
    }
    
    .occup, .cv_occup {
    font-size: 22px;
    }
    
    .years {
    font-size: 16px;
    }
    
    .project_h1 {
    font-size: 40px;
    line-height: 1.125;
    text-align: left;
}

.project_h2 {
    font-size: 30px;
    line-height: 1.125;
    text-align: left;
}
    
/*
.occup, .par {
    font-size: 18px;
}
*/
    
    table {
    width: 100%;
        padding: 5%;
}
    

    
}
